MSJobMonitor.xcodeproj/xcuserdata/dan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
Build MSJobMonitor_2025-09-28T12-43-12.txt
Build MSJobMonitor_2025-09-28T13-44-30.txt
Build MSJobMonitor_2025-09-28T14-27-17.txt
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
MSJobMonitor/.DS_Store
.DS_Store
MSJobMonitor/Services/.DS_Store
MSJobMonitor/Views/.DS_Store
trim.sh
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
MSJobMonitor/.DS_Store
MSJobMonitor/Models/.DS_Store
MSJobMonitor/Services/.DS_Store
MSJobMonitor/Services/.DS_Store
MSJobMonitor/Views/.DS_Store
MSJobMonitor/.DS_Store
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/dan.xcuserdatad/UserInterfaceState.xcuserstate
MSJobMonitor.xcodeproj/project.xcworkspace/xcuserdata/mediaserver.xcuserdatad/UserInterfaceState.xcuserstate
MSJobMonitor.xcodeproj/xcuserdata/mediaserver.xcuserdatad/xcschemes/xcschememanagement.plist
MSJobMonitor/.DS_Store
MSJobMonitor/Services/.DS_Store
MSJobMonitor/Models/.DS_Store
MSJobMonitor/Views/.DS_Store
Build MSJobMonitor_2025-10-09T15-53-33.txt
Build MSJobMonitor_2025-10-09T16-11-08.txt
